@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
  font-size: 100%;
  list-style: none;
  text-decoration: none;
  color: black;
  box-sizing: border-box; }

/* --- INDEX --- */
html {
  min-height: 100vh;
  position: relative; }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: 1.2rem;
  line-height: 1.6em;
  /* --- propiedades para que el footer quede siempre abajo --- */
  margin: 0;
  margin-bottom: 50px; }

/* ------------- TEMPLATE-AREAS ------------- */
.pagInicio {
  display: grid;
  grid-template-areas: "encabezado" "navegacion" "banner" "principal" "pie";
  grid-template-columns: 100%;
  grid-template-rows: auto; }

.pagVelas {
  display: grid;
  grid-template-areas: "encabezado" "navegacion" "principal" "pie";
  grid-template-columns: 100%;
  grid-template-rows: auto; }

/* ------------- LAYOUT GENERAL -------------  */
/* --- HEADER --- */
.imagenes-header {
  /* --- redes . logo . carrito --- */
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .imagenes-header img {
    width: 40px;
    margin-left: 1px; }

/* --- REDES SOCIALES --- */
.redes-sociales {
  display: flex; }

/* --- LOGO --- */
.logo {
  display: flex;
  margin-bottom: 5px; }
  .logo img {
    width: 400px;
    margin-left: 0px; }

/* --- MENÚ --- */
.nav-container {
  grid-area: navegacion;
  display: flex;
  justify-content: center;
  font-family: Lustria,display;
  width: 100%; }

.nav ul {
  display: flex;
  gap: 25px;
  width: 50vw;
  justify-content: space-evenly; }
  .nav ul li {
    display: flex; }
  .nav ul a {
    display: block;
    padding: 0.3rem 0rem; }

/* --- MENÚ HAMBURGUESA --- */
.burgerMenu {
  position: absolute;
  z-index: 3; }
  .burgerMenu a {
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid white;
    max-width: 200px;
    background: #e48b4c;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 2px; }

.burgerMenu input[type="checkbox"], .burgerMenu .burger, .burgerMenu .cross {
  position: absolute;
  box-sizing: border-box;
  padding: 5px;
  width: 40px;
  height: 40px; }

.burgerMenu .burger, .burgerMenu .cross {
  position: relative;
  font-size: 48px;
  pointer-events: none; }

.burgerMenu input[type="checkbox"] {
  opacity: 0; }

.burgerMenu nav {
  display: none; }

.burgerMenu input:checked ~ nav {
  display: block;
  margin-bottom: 20px; }

.burgerMenu input:checked ~ nav a:active {
  background-color: #ffa857; }

.burgerMenu input:checked ~ .burger {
  display: none; }

.burgerMenu input:not(:checked) ~ .cross {
  display: none; }

/* --- PIE DE PÁGINA --- */
.container-footer {
  width: 100%;
  position: absolute;
  /* --- propiedades para que el footer quede siempre abajo --- */
  bottom: 0px;
  height: 50px; }

footer {
  grid-area: pie; }

.footer {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 10px; }

.copyright p {
  margin-bottom: 0; }

/* ------------- PÁGINA INCIO --------------*/
/* --- BANNER --- */
.banner {
  grid-area: banner;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 55px;
  background-image: url(../images/banner.png);
  font-family: Merienda, display;
  background-repeat: no-repeat;
  background-size: cover; }
  .banner div h1 {
    margin-left: 70px;
    font-size: larger;
    font-style: oblique;
    white-space: nowrap;
    overflow: hidden; }

/* ---------- MAIN CON TODAS LAS SECCIONES ----------*/
main {
  grid-area: principal; }

/* ------------------ PÁGINA INICIO ------------------ */
/* --- NAVEGACIÓN CON PESTAÑAS --- */
/* --- CONTENEDOR PESTAÑAS --- */
.containerTabs {
  display: flex;
  justify-content: center;
  font-family: Lustria, display;
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: larger; }

/* --- PESTAÑAS --- */
.containerTabs .tabs ul {
  display: flex; }
  .containerTabs .tabs ul .bar {
    margin: 0 10px; }

/* --- CONTENEDOR HANDMADE --- */
.padreTab-h {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  font-family: Lustria, display;
  font-size: medium; }
  .padreTab-h .containerTab-h {
    display: flex;
    margin: 0 20px;
    align-items: center; }
  .padreTab-h .containerTxt-h {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px; }
    .padreTab-h .containerTxt-h h2 {
      margin-bottom: 10px; }
    .padreTab-h .containerTxt-h p {
      margin-right: 30px; }
    .padreTab-h .containerTxt-h a {
      position: absolute;
      bottom: 0.2px;
      right: 90px; }

/* --- CONTENEDOR NOSOTROS --- */
.padreTab-n {
  display: flex;
  font-family: Lustria, display;
  font-size: medium;
  margin-left: 40px;
  margin-bottom: 60px;
  margin-top: 60px; }
  .padreTab-n img {
    margin-top: 30px;
    width: 200px;
    height: 200px; }
  .padreTab-n div {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 60px;
    margin-top: 30px; }
    .padreTab-n div p {
      margin-bottom: 10px;
      text-align: center; }
    .padreTab-n div a {
      position: absolute;
      bottom: 20px;
      right: 20px; }

/* ------------- MENÚ ACTIVO ------------- */
body.inicio li.inicio a {
  color: chocolate;
  text-decoration: underline; }

body.velas li.velas a {
  color: chocolate;
  text-decoration: underline; }

body.difusores li.difusores a {
  color: chocolate;
  text-decoration: underline; }

body.faq li.faq a {
  color: chocolate;
  text-decoration: underline; }

body.contacto li.contacto a {
  color: chocolate;
  text-decoration: underline; }

/* ------------- LAYOUT GENERAL -------------  */
/* --- HEADER --- */
.header {
  background-color: white; }
  .header a {
    /* --- enlaces del menu --- */
    color: black; }

/* --- REDES SOCIALES --- */
/* MAP */
.btn-instagram, .transformaciones:hover {
  background-color: plum;
  padding: 0px;
  border-radius: 5px; }

.btn-facebook, .transformaciones:hover {
  background-color: lightblue;
  padding: 0px;
  border-radius: 5px; }

/* MIXIN */
.btn-facebook, .transformaciones:hover {
  border: 1px solid black; }

/* EXTEND */
.btn-facebook:hover, .transformaciones:hover {
  background-color: gray;
  transform: rotate(20deg);
  border: none; }

.transformaciones:hover {
  transform: scale(1.3) rotate(-5deg);
  background-color: transparent; }

/* --- MENÚ --- */
.nav-container ul li a {
  transition: none 0.4s linear; }

.nav-link:hover {
  color: chocolate;
  text-decoration: underline; }

/* --- MENÚ HAMBURGUESA --- */
.burgerMenu a {
  border-bottom: 2px solid white;
  background: #e48b4c;
  color: black;
  text-decoration: none;
  text-transform: uppercase; }

.burgerMenu input[type="checkbox"] {
  opacity: 0; }

.burgerMenu input:checked ~ nav a:active {
  background-color: #ffa857; }

/* --- PIE DE PÁGINA --- */
.container-footer {
  background: #dd9c47; }

.copyright p {
  color: black; }
  .copyright p span {
    color: #8b4a00;
    font-weight: bold; }

.documentos a {
  color: black; }
  .documentos a:hover {
    color: #8b4a00; }

/* ------------- PÁGINA INCIO --------------*/
/* --- BANNER --- */
.banner div h1 {
  color: #aaa8a8;
  animation: typing 2s steps(53) normal, blink 800ms steps(53) infinite normal;
  border-right: 2px solid black;
  width: 43ch; }

@keyframes typing {
  from {
    width: 0%; }
  to {
    width: 43ch; } }

@keyframes blink {
  /* git */
  from {
    border-color: black; }
  to {
    border-color: transparent; } }

/* ---------- MAIN CON TODAS LAS SECCIONES ----------*/
/* ------------------ PÁGINA INICIO ------------------ */
/* --- NAVEGACIÓN CON PESTAÑAS --- */
/* --- CONTENEDOR PESTAÑAS --- */
main .containerTabs {
  color: #929292; }

/* --- PESTAÑAS --- */
.containerTabs .tabs ul li a {
  color: #929292; }
  .containerTabs .tabs ul li a:hover {
    color: chocolate;
    font-weight: bold; }

/* --- CONTENEDOR HANDMADE --- */
.padreTab-h div div a:hover {
  color: chocolate;
  transform: scale(1.1); }

/* --- CONTENEDOR NOSOTROS --- */
.containerTab-n div div a:hover {
  color: chocolate;
  transform: scale(1.1); }

/* ----------------- MEDIA QUERIES ----------------- */
/* Desktop First */
/* ---- INICIO ---- */
/* pc pantalla chica */
@media (max-width: 769px) {
  /* menor a 769px ... */
  /* navegación pestañas */
  /* handmade */
  .padreTab-h {
    display: block; }
  /* nosotros */
  .padreTab-n {
    display: grid;
    grid-template-areas: "imagen parrafo" ". vermas";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    margin: 5px;
    align-items: center; }
    .padreTab-n img {
      width: 400px;
      height: auto; }
    .padreTab-n a {
      bottom: 0px;
      right: 0px; }
    .padreTab-n p {
      margin-left: 10%; }
  /* velas | difusores */
  .lineas {
    display: block; }
    .lineas:hover {
      transform: scale(1); } }

/* pie de página */
.footer p {
  font-size: small; }

.footer a {
  font-size: small; }

/* tablet */
@media (max-width: 481px) {
  /* menor a 481px ... */
  .pagInicio {
    font-size: small; }
  /* logo */
  .logo img {
    width: 300px;
    margin: auto; }
  /* menú */
  .nav-container {
    display: none; }
  /* banner */
  .banner {
    display: none; }
  /* navegación pestañas */
  .padreTab-h {
    font-size: x-small; }
  .padreTab-n {
    font-size: x-small; }
  /* main todas las secciones*/
  main {
    margin-top: 40px; }
  /* pie de página */
  .footer {
    justify-content: center; }
  .documentos {
    display: none; }
  /* form */
  .containerForm {
    margin-top: 30px; }
  .celMail {
    display: block; }
  .correo {
    margin-top: 30px; }
  .containerConsulta {
    display: block; }
  .send {
    align-items: center;
    padding: 10px; } }

/* mobile */
@media (min-width: 480px) {
  /* mayor a 480px ... */
  .burgerMenu {
    display: none; } }

@media (max-width: 321px) {
  /* menor a 321px ... */
  /* pie de página */
  .footer p {
    font-size: small; }
  .footer a {
    font-size: small; } }
